.DS_Store
*.swp
*.o
pass/build/CMake*
pass/build/cmake*
pass/build/
pass/build/*
benchmarks/out_dir/*
benchmarks/outdir/
/pass/build/CMake*
/pass/build/cmake*
/pass/build/
/pass/build/*
/benchmarks/out_dir/*
/benchmarks/outdir/
